<center>
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

<h1 align=center><font size = 5>Assignment: Notebook for Peer Assignment</font></h1>

# Introduction

Using this Python notebook you will:

1.  Understand three Chicago datasets  
2.  Load the three datasets into three tables in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Understand the datasets

To complete the assignment problems in this notebook you will be using three datasets that are available on the city of Chicago's Data Portal:

1.  <a href="https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Socioeconomic Indicators in Chicago</a>
2.  <a href="https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Public Schools</a>
3.  <a href="https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Crime Data</a>

### 1. Socioeconomic Indicators in Chicago

This dataset contains a selection of six socioeconomic indicators of public health significance and a “hardship index,” for each Chicago community area, for the years 2008 – 2012.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2](https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 2. Chicago Public Schools

This dataset shows all school level performance data used to create CPS School Report Cards for the 2011-2012 school year. This dataset is provided by the city of Chicago's Data Portal.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t](https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 3. Chicago Crime Data

This dataset reflects reported incidents of crime (with the exception of murders where data exists for each victim) that occurred in the City of Chicago from 2001 to present, minus the most recent seven days. 

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2](https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### Download the datasets

This assignment requires you to have these three tables populated with a subset of the whole datasets.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the links below to download and save the datasets (.CSV files):

-   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01" target="_blank">Chicago Census Data</a>

-   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01" target="_blank">Chicago Public Schools</a>

-   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01" target="_blank">Chicago Crime Data</a>

**NOTE:** Ensure you have downloaded the datasets using the links above instead of directly from the Chicago Data Portal. The versions linked here are subsets of the original datasets and have some of the column names modified to be more database friendly which will make it easier to complete this assignment.

### Store the datasets in database tables

To analyze the data using SQL, it first needs to be stored in the database.

While it is easier to read the dataset into a Pandas dataframe and then PERSIST it into the database as we saw in Week 3 Lab 3, it results in mapping to default datatypes which may not be optimal for SQL querying. For example a long textual field may map to a CLOB instead of a VARCHAR. 

Therefore, **it is highly recommended to manually load the table using the database console LOAD tool, as indicated in Week 2 Lab 1 Part II**. The only difference with that lab is that in Step 5 of the instructions you will need to click on create "(+) New Table" and specify the name of the table you want to create and then click "Next". 

<img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/images/LoadingData.png">

##### Now open the Db2 console, open the LOAD tool, Select / Drag the .CSV file for the first dataset, Next create a New Table, and then follow the steps on-screen instructions to load the data. Name the new tables as follows:

1.  **CENSUS_DATA**
2.  **CHICAGO_PUBLIC_SCHOOLS**
3.  **CHICAGO_CRIME_DATA**

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [5]:
!pip install sqlalchemy==1.3.9
!pip install ibm_db_sa

Requirement already satisfied: sqlalchemy==1.3.9 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (1.3.9)
Requirement already satisfied: ibm_db_sa in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (0.3.3)
Requirement already satisfied: sqlalchemy>=0.7.3 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from ibm_db_sa) (1.3.9)

In [8]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In the next cell enter your db2 connection string. Recall you created Service Credentials for your Db2 instance in first lab in Week 3. From the **uri** field of your Db2 service credentials copy everything after db2:// (except the double quote at the end) and paste it in the cell below after ibm_db_sa://

<img src ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_edX/images/URI.jpg">

In [9]:
# Remember the connection string is of the format:
# %sql ibm_db_sa://my-username:my-password@my-hostname:my-port/my-db-name
# Enter the connection string for your Db2 on Cloud database instance below

%sql ibm_db_sa://fjq00738:pk5lkxrv%2B4rzqqcp@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB

'Connected: fjq00738@BLUDB'

## Problems

Now write and execute SQL queries to solve assignment problems

### Problem 1

##### Find the total number of crimes recorded in the CRIME table.

In [14]:
%sql  select count (*) as total_crime from CHICAGO_CRIME_DATA;     
%sql select per_capita_income from CENSUS_DATA where per_capita_income <11000 ;

 * ibm_db_sa://fjq00738:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.
 * ibm_db_sa://fjq00738:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[(10934,), (10402,), (10432,), (8201,)]

### Problem 2

##### List community areas with per capita income less than 11000.

In [27]:
%sql select community_area_name, per_capita_income from Census_DATA\
where per_capita_income <11000 ;

 * ibm_db_sa://fjq00738:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[('West Garfield Park', 10934),
 ('South Lawndale', 10402),
 ('Fuller Park', 10432),
 ('Riverdale', 8201)]

In [69]:
%sql select * from Census_DATA;**

 * ibm_db_sa://fjq00738:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.
(ibm_db_dbi.ProgrammingError) ibm_db_dbi::ProgrammingError: Statement Execute Failed: [IBM][CLI Driver][DB2/LINUXX8664] SQL0104N  An unexpected token "**" was found following "BEGIN-OF-STATEMENT".  Expected tokens may include:  "<stmt_or_dcl>".  SQLSTATE=42601 SQLCODE=-104
[SQL: **]
(Background on this error at: http://sqlalche.me/e/f405)

In [9]:
%sql select * from CHICAGO_CRIME_DATA; * TO CUT LONG LIST

 * ibm_db_sa://fjq00738:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.
(ibm_db_dbi.ProgrammingError) ibm_db_dbi::ProgrammingError: Statement Execute Failed: [IBM][CLI Driver][DB2/LINUXX8664] SQL0104N  An unexpected token "*" was found following "BEGIN-OF-STATEMENT".  Expected tokens may include:  "<simple_grant>".  SQLSTATE=42601 SQLCODE=-104
[SQL: * TO CUT LONG LIST]
(Background on this error at: http://sqlalche.me/e/f405)

In [37]:
%sql select * from CHICAGO_PUBLIC_SCHOOLS; * TO CUT LONG LIST

 * ibm_db_sa://fjq00738:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.
(ibm_db_dbi.ProgrammingError) ibm_db_dbi::ProgrammingError: Statement Execute Failed: [IBM][CLI Driver][DB2/LINUXX8664] SQL0104N  An unexpected token "*" was found following "BEGIN-OF-STATEMENT".  Expected tokens may include:  "<simple_grant>".  SQLSTATE=42601 SQLCODE=-104
[SQL: * TO CUT LONG LIST]
(Background on this error at: http://sqlalche.me/e/f405)

In [116]:
%sql select per_capita_income from CENSUS_DATA where per_capita_income <11000 ;

 * ibm_db_sa://fjq00738:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[(10934,), (10402,), (10432,), (8201,)]

In [54]:
%sql select per_capita_income,community_area from CENSUS_DATA order by  per_capita_income ;

 * ibm_db_sa://fjq00738:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
(ibm_db_dbi.ProgrammingError) ibm_db_dbi::ProgrammingError: SQLNumResultCols failed: [IBM][CLI Driver][DB2/LINUXX8664] SQL0206N  "COMMUNITY_AREA" is not valid in the context where it is used.  SQLSTATE=42703 SQLCODE=-206
[SQL: select per_capita_income,community_area from CENSUS_DATA order by  per_capita_income ;]
(Background on this error at: http://sqlalche.me/e/f405)

### Problem 3

##### List all case numbers for crimes  involving minors?(children are not considered minors for the purposes of crime analysis)

In [55]:
%sql select case_number,primary_type,DESCRIPTION\
from CHICAGO_CRIME_DATA\
where DESCRIPTION LIKE '%MINO%';

 * ibm_db_sa://fjq00738:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[('HL266884', 'LIQUOR LAW VIOLATION', 'SELL/GIVE/DEL LIQUOR TO MINOR'),
 ('HK238408', 'LIQUOR LAW VIOLATION', 'ILLEGAL CONSUMPTION BY MINOR')]

In [12]:
%%sql select case_number,primary_type, location_description
from CHICAGO_CRIME_DATA
order by primary_type limit 5;

 * ibm_db_sa://fjq00738:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[('HX343113', 'ARSON', 'RESIDENCE'),
 ('HM195342', 'ARSON', 'RESIDENCE'),
 ('HN182437', 'ASSAULT', 'SIDEWALK'),
 ('HJ637197', 'ASSAULT', 'SIDEWALK'),
 ('HW493063', 'ASSAULT', 'ALLEY')]

In [14]:
%sql select case_number,primary_type, location_description\
from CHICAGO_CRIME_DATA\
order by primary_type limit 5 ;

 * ibm_db_sa://fjq00738:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[('HX343113', 'ARSON', 'RESIDENCE'),
 ('HM195342', 'ARSON', 'RESIDENCE'),
 ('HN182437', 'ASSAULT', 'SIDEWALK'),
 ('HJ637197', 'ASSAULT', 'SIDEWALK'),
 ('HW493063', 'ASSAULT', 'ALLEY')]

### Problem 4

##### List all kidnapping crimes involving a child?

In [58]:
%sql select primary_type, case_number\
from CHICAGO_CRIME_DATA\
where primary_type = 'KIDNAPPING';

 * ibm_db_sa://fjq00738:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[('KIDNAPPING', 'HN144152')]

In [59]:
%sql select primary_type from CHICAGO_CRIME_DATA\
order by primary_type desc\
limit 10;

 * ibm_db_sa://fjq00738:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[('WEAPONS VIOLATION',),
 ('WEAPONS VIOLATION',),
 ('WEAPONS VIOLATION',),
 ('WEAPONS VIOLATION',),
 ('WEAPONS VIOLATION',),
 ('WEAPONS VIOLATION',),
 ('THEFT',),
 ('THEFT',),
 ('THEFT',),
 ('THEFT',)]

In [60]:
%sql select distinct primary_type from CHICAGO_CRIME_DATA\
where location_description = 'GAS STATION';

 * ibm_db_sa://fjq00738:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[('CRIMINAL TRESPASS',), ('NARCOTICS',), ('ROBBERY',), ('THEFT',)]

In [61]:
%sql select primary_type from CHICAGO_CRIME_DATA \
order by primary_type ascd\
limit 10;

 * ibm_db_sa://fjq00738:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
(ibm_db_dbi.ProgrammingError) ibm_db_dbi::ProgrammingError: SQLNumResultCols failed: [IBM][CLI Driver][DB2/LINUXX8664] SQL0104N  An unexpected token "ascd" was found following "rder by primary_type".  Expected tokens may include:  "ASC".  SQLSTATE=42601 SQLCODE=-104
[SQL: select primary_type from CHICAGO_CRIME_DATA  order by primary_type ascd limit 10;]
(Background on this error at: http://sqlalche.me/e/f405)

### Problem 5

##### What kinds of crimes were recorded at schools?

In [138]:
%sql SELECT  PRIMARY_TYPE,DESCRIPTION, LOCATION_DESCRIPTION\
FROM CHICAGO_CRIME_DATA\
WHERE LOCATION_DESCRIPTION LIKE'%SCHOOL%'

 * ibm_db_sa://fjq00738:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[('BATTERY', 'SIMPLE', 'SCHOOL, PUBLIC, GROUNDS'),
 ('BATTERY', 'PRO EMP HANDS NO/MIN INJURY', 'SCHOOL, PUBLIC, BUILDING'),
 ('BATTERY', 'SIMPLE', 'SCHOOL, PUBLIC, BUILDING'),
 ('BATTERY', 'SIMPLE', 'SCHOOL, PUBLIC, BUILDING'),
 ('BATTERY', 'SIMPLE', 'SCHOOL, PUBLIC, GROUNDS'),
 ('CRIMINAL DAMAGE', 'TO VEHICLE', 'SCHOOL, PUBLIC, GROUNDS'),
 ('NARCOTICS', 'POSS: HEROIN(WHITE)', 'SCHOOL, PUBLIC, GROUNDS'),
 ('NARCOTICS', 'MANU/DEL:CANNABIS 10GM OR LESS', 'SCHOOL, PUBLIC, BUILDING'),
 ('ASSAULT', 'PRO EMP HANDS NO/MIN INJURY', 'SCHOOL, PUBLIC, GROUNDS'),
 ('CRIMINAL TRESPASS', 'TO LAND', 'SCHOOL, PUBLIC, GROUNDS'),
 ('PUBLIC PEACE VIOLATION', 'BOMB THREAT', 'SCHOOL, PRIVATE, BUILDING'),
 ('PUBLIC PEACE VIOLATION', 'BOMB THREAT', 'SCHOOL, PUBLIC, BUILDING')]

In [62]:
%sql SELECT distinct PRIMARY_TYPE\
FROM CHICAGO_CRIME_DATA\
WHERE LOCATION_DESCRIPTION LIKE'%SCHOOL%'\
order by PRIMARY_TYPE ASC;

 * ibm_db_sa://fjq00738:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[('ASSAULT',),
 ('BATTERY',),
 ('CRIMINAL DAMAGE',),
 ('CRIMINAL TRESPASS',),
 ('NARCOTICS',),
 ('PUBLIC PEACE VIOLATION',)]

In [16]:
% sql SELECT *
FROM CHICAGO_PUBLIC_SCHOOLS limit 5;

SyntaxError: invalid syntax (<ipython-input-16-8e4ddaf63150>, line 2)

### Problem 6

##### List the average safety score for all types of schools.

In [47]:
%sql select ELEMENTARY_MIDDLE_HIGHSCHOOL from PUBLIC_SCHOOLS

 * ibm_db_sa://fjq00738:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
(ibm_db_dbi.ProgrammingError) ibm_db_dbi::ProgrammingError: SQLNumResultCols failed: [IBM][CLI Driver][DB2/LINUXX8664] SQL0206N  "ELEMENTARY_MIDDLE_HIGHSCHOOL" is not valid in the context where it is used.  SQLSTATE=42703 SQLCODE=-206
[SQL: select ELEMENTARY_MIDDLE_HIGHSCHOOL from PUBLIC_SCHOOLS]
(Background on this error at: http://sqlalche.me/e/f405)

In [147]:
#List 5 schools with lowest safety score.#(picks up nulls. need to remove it) ===NO NULLS
%sql SELECT name_of_school, safety_score\
FROM schools \
ORDER BY safety_score desc nulls\
last limit 5;

 * ibm_db_sa://fjq00738:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[('Abraham Lincoln Elementary School', 99),
 ('Alexander Graham Bell Elementary School', 99),
 ('Annie Keller Elementary Gifted Magnet School', 99),
 ('Augustus H Burley Elementary School', 99),
 ('Edgar Allan Poe Elementary Classical School', 99)]

In [44]:
%sql SELECT  avg (safety_score) as average_safety_score\
FROM CHICAGO_PUBLIC_SCHOOLS\
GROUP BY ES,HS, MS ;

 * ibm_db_sa://fjq00738:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
(ibm_db_dbi.ProgrammingError) ibm_db_dbi::ProgrammingError: SQLNumResultCols failed: [IBM][CLI Driver][DB2/LINUXX8664] SQL0206N  "ES" is not valid in the context where it is used.  SQLSTATE=42703 SQLCODE=-206
[SQL: SELECT  avg (safety_score) as average_safety_score FROM CHICAGO_PUBLIC_SCHOOLS GROUP BY ES,HS, MS ;]
(Background on this error at: http://sqlalche.me/e/f405)

In [148]:

%sql select community_area_name, avg(college_enrollment) as average_college_enrollment \
from CHICAGO_PUBLIC_SCHOOLS GROUP BY community_area_name order by average_college_enrollment desc LIMIT 5;

 * ibm_db_sa://fjq00738:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[('ARCHER HEIGHTS', Decimal('2411.500000')),
 ('MONTCLARE', Decimal('1317.000000')),
 ('WEST ELSDON', Decimal('1233.333333')),
 ('BRIGHTON PARK', Decimal('1205.875000')),
 ('BELMONT CRAGIN', Decimal('1198.833333'))]

### Problem 7

##### List 5 community areas with highest % of households below poverty line

In [105]:
%sql select community_area_name,percent_households_below_poverty from census_data \
order by \
percent_households_below_poverty desc\
limit 5;

 * ibm_db_sa://fjq00738:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[('Riverdale', Decimal('56.5')),
 ('Fuller Park', Decimal('51.2')),
 ('Englewood', Decimal('46.6')),
 ('North Lawndale', Decimal('43.1')),
 ('East Garfield Park', Decimal('42.4'))]

### Problem 8

##### Which community area is most crime prone?

In [46]:
%sql select * from CHICAGO_CRIME_DATA\
ORDER BY \
community_area_number desc nulls\
last limit 5;

 * ibm_db_sa://fjq00738:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[(8863261, 'HV537004', datetime.date(2012, 10, 25), '054XX N ASHLAND AVE', '810', 'THEFT', 'OVER $500', 'OTHER', 'FALSE', 'TRUE', 2012, 20, 40, 77, '6', 1164674, 1936421, 2012, Decimal('41.98115315'), Decimal('-87.66975020'), '(41.981153152, -87.669750197)'),
 (4778195, 'HM392612', datetime.date(2006, 6, 3), '057XX N MAGNOLIA AVE', '820', 'THEFT', '$500 AND UNDER', 'STREET', 'FALSE', 'FALSE', 2013, 20, 48, 77, '6', 1166924, 1938218, 2006, Decimal('41.98603604'), Decimal('-87.66142360'), '(41.986036039, -87.661423603)'),
 (2219750, 'HH486939', datetime.date(2002, 7, 3), '100XX W OHARE ST', '870', 'THEFT', 'POCKET-PICKING', 'AIRPORT/AIRCRAFT', 'FALSE', 'FALSE', 1651, 16, 41, 76, '6', 1100658, 1934241, 2002, Decimal('41.97629041'), Decimal('-87.90522722'), '(41.976290414, -87.905227221)'),
 (9612532, 'HX262353', datetime.date(2014, 5, 14), '084XX W BRYN MAWR AVE', '820', 'THEFT', '$500 AND UNDER', 'STREET', 'FALSE', 'FALSE', 1614, 16, 41, 76, '6', 1118919, 1936092, 2014, Decimal('41.98109971'), Decimal('-87.83803283'), '(41.981099706, -87.838032833)'),
 (5989011, 'HN778969', datetime.date(2007, 12, 26), '100XX W OHARE ST', '2027', 'NARCOTICS', 'POSS: CRACK', 'AIRPORT/AIRCRAFT', 'TRUE', 'FALSE', 1651, 16, 41, 76, '18', 1100658, 1934241, 2007, Decimal('41.97629041'), Decimal('-87.90522722'), '(41.976290414, -87.905227221)')]

In [64]:

%sql select community_area_name avg(college_enrollment) as average_college_enrollment \
from CHICAGO_PUBLIC_SCHOOLS GROUP BY community_area_name order by average_college_enrollment desc LIMIT 5;

 * ibm_db_sa://fjq00738:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
(ibm_db_dbi.ProgrammingError) ibm_db_dbi::ProgrammingError: SQLNumResultCols failed: [IBM][CLI Driver][DB2/LINUXX8664] SQL0104N  An unexpected token "avg" was found following "community_area_name".  Expected tokens may include:  "AND".  SQLSTATE=42601 SQLCODE=-104
[SQL: select community_area_name avg(college_enrollment) as average_college_enrollment  from CHICAGO_PUBLIC_SCHOOLS GROUP BY community_area_name order by average_college_enrollment desc LIMIT 5;]
(Background on this error at: http://sqlalche.me/e/f405)

In [28]:
%sql select *  from CENSUS_DATA\
ORDER BY \
community_area_number desc nulls\
last limit 5;

 * ibm_db_sa://fjq00738:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[(77, 'Edgewater', Decimal('4.1'), Decimal('18.2'), Decimal('9.2'), Decimal('9.7'), Decimal('23.8'), 33385, 19),
 (76, "O'Hare", Decimal('3.6'), Decimal('15.4'), Decimal('7.1'), Decimal('10.9'), Decimal('30.3'), 25828, 24),
 (75, 'Morgan Park', Decimal('0.8'), Decimal('13.2'), Decimal('15.0'), Decimal('10.8'), Decimal('40.3'), 27149, 30),
 (74, 'Mount Greenwood', Decimal('1.0'), Decimal('3.4'), Decimal('8.7'), Decimal('4.3'), Decimal('36.8'), 34381, 16),
 (73, 'Washington Height', Decimal('1.1'), Decimal('16.9'), Decimal('20.8'), Decimal('13.7'), Decimal('42.6'), 19713, 48)]

In [29]:
%sql select community_area_number, COMMUNITY_AREA_NAME,percent_households_below_poverty from CENSUS_DATA\
ORDER BY \
community_area_number desc nulls\
last limit 10;

 * ibm_db_sa://fjq00738:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[(77, 'Edgewater', Decimal('18.2')),
 (76, "O'Hare", Decimal('15.4')),
 (75, 'Morgan Park', Decimal('13.2')),
 (74, 'Mount Greenwood', Decimal('3.4')),
 (73, 'Washington Height', Decimal('16.9')),
 (72, 'Beverly', Decimal('5.1')),
 (71, 'Auburn Gresham', Decimal('27.6')),
 (70, 'Ashburn', Decimal('10.4')),
 (69, 'Greater Grand Crossing', Decimal('29.6')),
 (68, 'Englewood', Decimal('46.6'))]

Double-click **here** for a hint

<!--
Query for the 'community area number' that is most crime prone.
-->

### Problem 9

##### Use a sub-query to find the name of the community area with highest hardship index

In [27]:
%sql select community_area_name, community_area_number from census_data\
where HARDSHIP_INDEX = (select MAX (hardship_index)\
from CENSUS_DATA);

 * ibm_db_sa://fjq00738:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[('Riverdale', 54)]

### Problem 10

##### Use a sub-query to determine the Community Area Name with most number of crimes?

In [26]:
%sql select community_area_name,community_area_number from census_data\
where community_area_number = (select MAX (community_area_number)\
from census_data);

 * ibm_db_sa://fjq00738:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[('Edgewater', 77)]

In [7]:
%sql select community_area_name,community_area_number from census_data\
where community_area_number = (select MAX (community_area_number)\
from census_data);

 * ibm_db_sa://fjq00738:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[('Edgewater', 77)]

Copyright © 2020 [cognitiveclass.ai](cognitiveclass.ai?utm_source=bducopyrightlink&utm_medium=dswb&utm_campaign=bdu). This notebook and its source code are released under the terms of the [MIT License](https://bigdatauniversity.com/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).

## Author(s)

<h4> Hima Vasudevan </h4>
<h4> Rav Ahuja </h4>
<h4> Ramesh Sannreddy </h4>

## Contribtuor(s)

<h4> Malika Singla </h4>

## Change log

| Date       | Version | Changed by        | Change Description                             |
| ---------- | ------- | ----------------- | ---------------------------------------------- |
| 2021-05-19 | 2.4     | Lakshmi Holla     | Updated the question                           |
| 2021-04-30 | 2.3     | Malika Singla     | Updated the libraries                          |
| 2021-01-15 | 2.2     | Rav Ahuja         | Removed problem 11 and fixed changelog         |
| 2020-11-25 | 2.1     | Ramesh Sannareddy | Updated the problem statements, and datasets   |
| 2020-09-05 | 2.0     | Malika Singla     | Moved lab to course repo in GitLab             |
| 2018-07-18 | 1.0     | Rav Ahuja         | Several updates including loading instructions |
| 2018-05-04 | 0.1     | Hima Vasudevan    | Created initial version                        |

## <h3 align="center"> © IBM Corporation 2020. All rights reserved. <h3/>